<div class="container">
    <p-panel header="Profissionais">
        <form [formGroup]="formProfissional">
            <div>
                <button class="space-button" type="button" pButton icon="pi pi-plus-circle" label="Novo"
                    (click)="novoProfissional()"></button>
            </div>
            <br/>
            <div>
                <p-table *ngIf="listGridProfs.length>0" [columns]="colsGridProfs" [value]="listGridProfs"
                    [paginator]="true" [rows]="10" [responsive]="true" [(selection)]="selectendProf"
                    dataKey="idProfissional">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th style="width: 6px">Código</th>
                            <th style="width: 40px">Nome</th>
                            <th style="width: 40px">Endereço</th>                            
                            <th style="width: 8px">Número</th>
                            <th style="width: 20px">Bairro</th>
                            <th style="width: 20px">Cidade</th>
                            <th style="width: 8px">UF</th>
                            <th style="width: 30px">Estabelecimento</th>
                            <th style="width: 50px">Ações</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                        <tr [pSelectableRow]="rowData">
                            <td *ngFor="let col of columns">
                                <span class="ui-column-title">{{col.header}}</span>
                                {{rowData[col.field]}}
                            </td>
                            <td style="text-align: center">
                                <button pButton type="button" icon="pi pi-pencil" class="ui-button-icon-primary"
                                    (click)="editarProf(rowData)"></button>
                                <button style="margin-left: 6%" pButton type="button" icon="pi pi-trash"
                                    class="ui-button-danger" (click)="excluirProf(rowData)"></button>
                                <button style="margin-left: 6%; background-color: green;" pButton icon="pi pi-users"
                                    label="Vincular" (click)="vincularProf(rowData)"></button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>

        </form>
    </p-panel>
</div>

<p-dialog header="Profissional" [(visible)]="exibeFormDialogProf" modal="true" responsive="true" blockScroll="true"
    [contentStyle]="{'max-height':'610px'}" (onHide)="closeDialogProf()">

    <form [formGroup]="formDialogProf" style="width: 970px; height: 250px;">
        <br/>
        <div class="p-grid ui-fluid">
            <div class="p-col-12 p-md-3">
                <span class="ui-float-label">
                    <input formControlName="idProfissional" type="text" size="30" maxlength="5" pInputText />
                    <label for="idProfissional">Código</label>
                    <span *ngIf="hasErrorInField('idProfissional')" class="messages error">
                      <i class="fa fa-times"></i> {{getErrorFromField('idProfissional')}}
                    </span>
                </span>
            </div>
            <div class="p-col-12 p-md-3">
                <span class="ui-float-label">
                    <input formControlName="nome" type="text" size="30" maxlength="70" pInputText />
                    <label for="nome">Nome Completo</label>
                    <span *ngIf="hasErrorInField('nome')" class="messages error">
                      <i class="fa fa-times"></i> {{getErrorFromField('nome')}}
                    </span>
                </span>
            </div>
            <div class="p-col-12 p-md-3">
                <span class="ui-float-label">
                    <input formControlName="logradouro" type="text" size="30" maxlength="70" pInputText />
                    <label for="logradouro">Endereço</label>
                    <span *ngIf="hasErrorInField('logradouro')" class="messages error">
                      <i class="fa fa-times"></i> {{getErrorFromField('logradouro')}}
                    </span>
                </span>
            </div>
            <div class="p-col-12 p-md-3">
                <span class="ui-float-label">
                    <input formControlName="numero" type="text" size="30" maxlength="10" pInputText />
                    <label for="numero">Número</label>
                    <span *ngIf="hasErrorInField('numero')" class="messages error">
                      <i class="fa fa-times"></i> {{getErrorFromField('numero')}}
                    </span>
                </span>
            </div>
        </div>  
        <br/>
        <div class="p-grid ui-fluid">
            <div class="p-col-12 p-md-3">
                <span class="ui-float-label">
                    <p-inputMask formControlName="cep" size="30"
                        mask="99.999-999" unmask="true" characterPattern="[0-9]"></p-inputMask>
                    <label for="cep">CEP</label>
                    <span *ngIf="hasErrorInField('cep')" class="messages error">
                      <i class="fa fa-times"></i> {{getErrorFromField('cep')}}
                    </span>
                </span>
            </div>
            <div class="p-col-12 p-md-3">
                <span class="ui-float-label">
                    <input formControlName="bairro" type="text" size="30" maxlength="40" pInputText />
                    <label for="bairro">Bairro</label>
                    <span *ngIf="hasErrorInField('bairro')" class="messages error">
                      <i class="fa fa-times"></i> {{getErrorFromField('bairro')}}
                    </span>
                </span>
            </div>
            <div class="p-col-12 p-md-3">
                <span class="ui-float-label">
                    <input formControlName="cidade" type="text" size="30" maxlength="40" pInputText />
                    <label for="cidade">Cidade</label>
                    <span *ngIf="hasErrorInField('cidade')" class="messages error">
                      <i class="fa fa-times"></i> {{getErrorFromField('cidade')}}
                    </span>
                </span>
            </div>
            <div class="p-col-12 p-md-3">
                <span class="ui-float-label">
                    <input formControlName="uf" type="text" size="30" maxlength="2" pInputText />
                    <label for="uf">UF</label>
                    <span *ngIf="hasErrorInField('uf')" class="messages error">
                      <i class="fa fa-times"></i> {{getErrorFromField('uf')}}
                    </span>
                </span>
            </div>
        </div>  
        <br/>
        <div class="p-grid ui-fluid">
            <div class="p-col-12 p-md-3">
                <span class="ui-float-label">
                    <input formControlName="pais" type="text" size="30" maxlength="40" pInputText />
                    <label for="pais">País</label>
                    <span *ngIf="hasErrorInField('pais')" class="messages error">
                      <i class="fa fa-times"></i> {{getErrorFromField('pais')}}
                    </span>
                </span>
            </div>
            <div class="p-col-12 p-md-3">
                <span class="ui-float-label">
                    <input formControlName="complemento" type="text" size="30" maxlength="150" pInputText />
                    <label for="complemento">Complemento</label>
                    <span *ngIf="hasErrorInField('complemento')" class="messages error">
                      <i class="fa fa-times"></i> {{getErrorFromField('complemento')}}
                    </span>
                </span>
            </div>
        </div>
        <br/>
        <p-footer class="dialog-footer" style="padding-right: 50px; padding-bottom: 10px; padding-top: 10px; margin-top: 3px;">
            <button pButton icon="pi pi-check" label="Salvar" (click)="salvarProf()"></button>
            <button pButton icon="pi pi-times" class="ui-button-danger" label="Cancelar" style="margin-left: 10px;"
                (click)="closeDialogProf()"></button>
        </p-footer>
    </form>
</p-dialog>

<p-dialog header="Vínculo Empregatício" [(visible)]="exibeFormDialogVinculoProf" modal="true" responsive="true" blockScroll="true"
    [contentStyle]="{'max-height':'610px'}" (onHide)="closeDialogVinculoProf()">

    <form [formGroup]="formDialogVinculoProf" style="width: 970px; height: 250px;">
        <br/>
        <div class="p-grid ui-fluid">
            <div class="p-col-12 p-md-3">
                <span class="ui-float-label">
                    <input formControlName="idProfissional" type="text" size="30" maxlength="5" pInputText />
                    <label for="idProfissional">Código</label>
                    <span *ngIf="hasErrorInFieldVinculo('idProfissional')" class="messages error">
                      <i class="fa fa-times"></i> {{getErrorFromFieldVinculo('idProfissional')}}
                    </span>
                </span>
            </div>
            <div class="p-col-12 p-md-3">
                <span class="ui-float-label">
                    <input formControlName="nome" type="text" size="30" maxlength="70" pInputText />
                    <label for="nome">Nome Completo</label>
                    <span *ngIf="hasErrorInFieldVinculo('nome')" class="messages error">
                      <i class="fa fa-times"></i> {{getErrorFromFieldVinculo('nome')}}
                    </span>
                </span>
            </div>
        </div>
        <br/>
        <div class="p-grid ui-fluid">
            <div class="p-col-12 p-md-3">
                <span>
                    <label for="idEstabProfissional">Estabelecimento</label>
                    <p-dropdown [autoDisplayFirst]="false" [options]="arrEstabelecimento" unUppercase
                        formControlName="idEstabProfissional" appendTo="body" filter="true" unAlphanumericOnly
                        class="item-column" [virtualScroll]="true" itemSize="30" (onChange)="getLabelEstabelecimento($event)">
                    </p-dropdown>
                    <span *ngIf="hasErrorInFieldVinculo('idEstabProfissional')" class="messages error">
                      <i class="fa fa-times"></i> {{getErrorFromFieldVinculo('idEstabProfissional')}}
                    </span>
                </span>
            </div>
        </div>
        <br/>
        <p-footer class="dialog-footer" 
                style="padding-right: 50px; padding-bottom: 10px; padding-top: 10px; margin-top: 3px;">
            <button pButton icon="pi pi-check" label="Vincular" 
                (click)="salvarVinculoProf()"></button>
            <button pButton icon="pi pi-trash" style="background-color: gray; margin-left: 10px;"
                label="Desvincular" (click)="salvarDesvinculoProf()"></button>
            <button pButton icon="pi pi-times" class="ui-button-danger" style="margin-left: 10px"
                label="Cancelar" (click)="closeDialogVinculoProf()"></button>
        </p-footer>
    </form>
</p-dialog>
